* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    background-image: url('../images/11.jpg');
    background-size: cover; /* Ou 'contain' */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    }
  html, body {
    height: 100%;/* S’assure que le body prend toute la hauteur */
    
    margin: 0; /* Évite les marges par défaut */
}

/* Style de la navbar */
.navbar {
  position: fixed; /* Fixes the navbar at the top */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 40px; /* Padding for content inside navbar */
  z-index: 1000; /* Ensures navbar is on top of other elements */
  background-color: #ffffffb7;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 30px;
}

.navbar-menu a {
  color: #2e7081; /* Text color */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #ffffff; /* Change text color on hover */
}

/* Liste des éléments de navigation */
.navbar-men {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 10px;
}

/* Élément individuel de la navigation */
.navbar-item {
  font-size: 16px;
}

/* Lien de la navigation */
.navbar-link {
  height: 40px;
  padding: 10px 20px;
  background-color: #2e7081;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transition douce pour le survol */
}

/* Effet sur le lien lors du survol */
.navbar-link:hover {
  background-color: #2e7081; /* Couleur de fond plus foncée au survol */
  transform: scale(1.05); /* Légère augmentation de la taille au survol */
}

.navbar-link:active {
  transform: scale(0.98); /* Scale effect on click */
}
.navbar-item{
  color: rgb(255, 187, 0);
  text-shadow: 2px 2px 2px #000;
  font-weight: bold;
}

/* Style du logo */
.navbar-logo img {
    margin: 0;
    padding: 0;
  height: 100px; /* Ajustez la hauteur du logo selon vos besoins */
  }

/* Style the button */
.logoCenter button {
    background-color: #2e7081; /* Primary color for the button */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

/* Hover effect for the button */
.logoCenter button:hover {
    background-color: #e9db1f; /* Darker shade on hover */
}

/* Button focus/active state for accessibility */
.logoCenter button:focus, 
.logoCenter button:active {
    outline: none;
    box-shadow: 0 0 0 3px rgba(248, 248, 248, 0.637); /* Blue focus ring */
}

/* Adaptation mobile */
@media (max-width: 768px) {
  .navbar-sing {
      justify-content: center;
  }
  .navbar-menu {
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }
}

/* Style des popups */
.popup {
  display: none; /* Masqué par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 30px;
  width: 80%;
  max-width: 300px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup h2 {
  text-align: center;
  margin-bottom: 20px;
}

.popup form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid #ccc;
}

.popup form button {
  width: 100%;
  padding: 10px;
  background-color: #2e7081;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.popup form button:hover {
  background-color: #2e7081;
}
.header-with-image {
  display: flex; /* Utiliser Flexbox pour aligner les éléments en ligne */
  align-items: center; /* Aligner verticalement l'image et le texte */
}

.signup-image, .login-image { /* Applique le même style aux deux images */
  width: 90px;
  height: auto;
}

h2 {
  margin: 0;
  flex-grow: 1; /* Permet au titre de prendre l'espace disponible pour être centré */
  text-align: center; /* Centre le texte */
}
  
  /*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  
  
  /*=============== GOOGLE FONTS ===============*/
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
  
  /*=============== VARIABLES CSS ===============*/
  :root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: #2e7081;
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 1.5rem;
      --small-font-size: .875rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: 400px;
  }
  
  /*=============== CARD ===============*/
  @keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeInUp 1s ease-out; /* Apply the animation to the card container */
  }
  
  .card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
  }
  
  .card__article {
    position: relative;
    display: block;
    width: 380px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 1.5rem;
    overflow: hidden; /* Ensures content doesn't overflow the card */
  }
  
  
  .card__article:hover {
    transform: scale(1.05); /* Slightly increase the size of the card */
    box-shadow: 2px 5px 5px 5px rgba(32, 32, 32, 0.74); /* Add a shadow to create the raised effect */
    transition: 0.3s;
  }
  
  .card__img {
    width: 100%;
    height: 100%; /* Make the image fill the entire card */
    object-fit: cover; /* Ensure the image covers the card without distortion */
    border-radius: 1.5rem;
  }
  
  .overlay {
    align-content: center;
    border-radius: 1.5rem;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.3s ease;
    padding: 50px;
    z-index: 1;
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text inside the overlay */
  }
  
  .card__article:hover .overlay {
    transform: scale(1.1); /* Display the overlay on hover */
  }
  
  
  .card__title {
    font-size: 30px;
    font-weight: 600;
    align-content: center;
    color: white;
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-weight: 600;
    color: #126c7a;
    justify-items: center;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border-color: #126c7a;
  }
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  }
  .titre {
    text-align: center;
    margin-bottom: -70px;
  }
  
  .titre h1 {
    font-size: 2.9rem;
    color: #2e7081;
    font-weight: bold;
    text-shadow: 2px 2px 2px #ffffff;
  }
  
  section {
    top: 500px;
  }

  .contain {
    margin-top: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeInUp 1s ease-out; /* Apply the animation to the card container */
  }
 
  .range__details {
    position: absolute;
    inset: 0;
    padding: 2rem;
    background-image: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.1) 50%,
      rgba(0, 0, 0, 0.75)
    );
  }
  
  .range__details h2 {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 2px 2px #000000;
  }
  
  .range__details i {
    display: contents;
    justify-content: baseline;
    padding: 0px 6px;
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
  }
  
  .range__details i:hover {
    color: rgb(224, 182, 41);
    border-color: var(--primary-color);
  }