*,*::before,*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--blue:#2e7081;
	--white:#fff;
	--grey:#f5f5f5;
	--black1:#222;
	--black2:#999;
}

body {
    min-height: 100vh; /* Assure que le corps prend toute la hauteur de la vue */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

.container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed; /* Navigation fixe */
    width: 200px; /* Largeur initiale de la navigation */
    height: 100%; /* Prend toute la hauteur de la vue */
    background: rgb(56, 73, 85);/* Couleur de fond */
    transition: 0.5s; /* Animation pour la transition de largeur */
    overflow: hidden; /* Cache le débordement */
    border-left: 10px solid rgb(56, 73, 85); /* Bordure à gauche */
}

.navigation.active {
    width: 65px; /* Largeur lorsqu'elle est active */
}

.omra-row.selected {
    background-color: #f0f8ff; /* Couleur de fond pour les lignes sélectionnées */
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none; /* Supprime les puces */
    width: 100%; /* Largeur complète */
}

.navigation ul li {
    width: 90%; /* Largeur des éléments de la liste */
    position: relative;
    height: 50px; /* Hauteur des éléments de la liste */
    display: flex;
    align-items: center; /* Centre verticalement */
    padding: 0 0 0 10px; /* Marges internes */
    cursor: pointer; /* Curseur de pointeur */
    border-radius: 10px; /* Coins arrondis */
}

.navigation ul li {
    position: relative;
    margin: 0 10px;
    padding: 0px;
    transition: all 0.3s ease;
}

.navigation ul li a {
	position:fixed;
	margin: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color, #f8f5f5);
    transition: color 0.3s ease;
}
/* Style modifié lorsque la navigation est active */
.navigation.active ul li a,.navigation.active ul li a:hover {
    color: #ff880000; /* Changer la couleur lors de l'activation */
    font-size: 18px; /* Par exemple, augmenter la taille */
}
.navigation .icon {
	margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color, #f8f5f5);
    transition: color 0.3s ease;
}
.activ{
	margin: 10px;
    box-shadow: 0 0 5px 3px var(--white);
    background-color: var(--accent-color, #2e7081);
}

/* Ajouter un effet circulaire autour de l'élément actif */
.navigation ul li:active::before,
.navigation ul li.selected::before {
    content: '';
    position: absolute;
    top: -25px;
    right: -25px;
    height: 50px;
    width: 50px;
    z-index: -1; /* Placer l'effet circulaire derrière l'élément */
    transition: all 0.3s ease;
}

/* Ajouter un autre effet circulaire en bas */
.navigation ul li:active::after,
.navigation ul li.selected::after {
    content: '';
    position: absolute;
    bottom: -25px;
    right: -25px;
    height: 50px;
    width: 50px;
    z-index: -1; /* Placer l'effet circulaire derrière l'élément */
    transition: all 0.3s ease;
}

/* Effet de survol pour améliorer l'interaction */
.navigation ul li:hover {
	text-shadow:  1px 1px 1px white;
}
.navigation ul li:hover a {
	text-shadow: 2px 2px 2px white;
	text-shadow: 0 0 15px 5px var(--white);
    color: var(--accent-color, #2e7081);
}

/* Ajouter une animation pour le changement de sélection */
.navigation ul li.selected {
    transform: translateY(-5px); /* L'élément actif se lève légèrement */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre subtile */
}
/* ---------------------main------------------- */


/* Styles pour le contenu principal */
.main {
    position: absolute; /* Positionnement absolu */
    width: calc(100% - 200px); /* Largeur ajustée en fonction de la navigation */
    left: 200px; /* Position à gauche */
    min-height: 100vh; /* Hauteur minimale */
    transition: 0.5s; /* Animation pour la transition */
}

.main.active {
    width: calc(100% - 65px); /* Largeur lorsqu'elle est active */
    left: 65px; /* Position ajustée à gauche */
}
/* Style de base pour la barre supérieure */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(56, 73, 85); /* Couleur de fond (à adapter selon ton thème) */
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet 3D */
    
}

/* Style de l'icône de menu */
.toggle {
    font-size: 24px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease; /* Effet de rotation au survol */
}

.toggle:hover {
    transform: rotate(90deg); /* Rotation sur survol */
}

/* Style du texte utilisateur */
.user {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #fff; /* Couleur blanche pour contraster avec la barre */
}

.user li.navbar-item {
    list-style: none; /* Enlever les puces du <li> */
    margin-left: 10px; /* Un peu d'espace avant le texte */
}

.user li.navbar-item:before {
    content: '\f2bd'; /* Icône d'utilisateur de Font Awesome */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 8px;
}

/* Effets de survol pour l'utilisateur */
.user li.navbar-item:hover {
    color: #c1e1e6; /* Couleur légèrement plus claire au survol */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3); /* Effet d'ombre subtile */
}

/* Media queries pour une meilleure réactivité */
@media (max-width: 768px) {
    .topbar {
        flex-direction: column; /* Empiler les éléments en mobile */
        align-items: flex-start;
    }

    .user {
        margin-top: 10px;
    }
}



/* Boutons de gestion dans la topbar */
.omra-management-buttons {
    display: flex;
    gap: 15px; /* Espacement entre les boutons */
}

.topbar-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #2e7081;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px var(--white);
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: bold;
}

.topbar-btn ion-icon {
    margin-right: 5px;
}

.topbar-btn:hover {
    background-color: #2980b9;
}
.details {
    position: relative; /* Position relative pour le conteneur */
    width: 100%; /* Largeur complète */
    padding: 20px; /* Marges internes */
    display: grid; /* Utilisation de Grid pour la mise en page */
    grid-template-columns: 3fr 1fr; /* Colonne principale et latérale */
    grid-gap: 20px; /* Espace entre les colonnes */
}
.detail {
    position: relative; /* Position relative pour le conteneur */
    width: 100%; /* Largeur complète */
    padding: 20px; /* Marges internes */
}

.details .recentOrders {
    position: relative; /* Position relative */
    width: 100%; /* Largeur complète */
    background-color: var(--white); /* Couleur de fond */
    border-radius: 20px; /* Arrondir les coins */
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); /* Ombre */
}

.details .recentOrders .cardHeader {
    display: flex; /* Utilise Flexbox pour l'alignement */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: flex-start; /* Aligne les éléments en haut */
    margin-bottom: 50px; /* Marge en bas */
}

.cardHeader h2 {
    font-weight: 600; /* Épaisseur de la police */
    color: var(--blue); /* Couleur du texte */
}

.cardHeader .btn {
    position: relative; /* Position relative pour le bouton */
    padding: 5px 10px; /* Marges internes */
    background: var(--blue); /* Couleur de fond */
    text-decoration: none; /* Supprime le soulignement */
    color: var(--white); /* Couleur du texte */
    border-radius: 6px; /* Arrondir les coins */
}

/* Styles pour la table */
.details .table {
    width: 100%; /* Largeur complète */
    border-collapse: collapse; /* Fusionne les bordures */
}

.details .table thead td {
    font-weight: 600; /* Épaisseur de la police */
    color: var(--black1); /* Couleur du texte */
    text-align: left; /* Alignement à gauche */
}

.details .table tbody tr {
    height: 40px; /* Hauteur des lignes */
}

.details .table tbody tr:nth-child(odd) {
    background-color: var(--grey); /* Couleur de fond pour les lignes impaires */
}

.details .table tbody tr:nth-child(even) {
    background-color: var(--white); /* Couleur de fond pour les lignes paires */
}

.details .table tbody tr:hover {
    background-color: var(--black1); /* Couleur de fond au survol */
    color: var(--white); /* Couleur du texte au survol */
}


.status.delivered{
												background: #70b900;
												padding: 2px 4px;
												font-size: 14px;
												border-radius:4px;
												color: var(--white); 
												font-weight: 600;
											}
.status.return{
												background: #ff4747;
												padding: 2px 4px;
												font-size: 14px;
												border-radius:4px;
												color: var(--white); 
															font-weight: 600;
											}

.status.pending{
												background: #f09b00;
												padding: 2px 4px;
												font-size: 14px;
												border-radius:4px;
												color: var(--white); 
															font-weight: 600;
											}


.recentCustomers{
	position: relative;
	display: block;
	padding: 20px;
box-shadow: 0 7px 25px rgba(0,0,0,0.08);
border-radius: 20px;
background: var(--white);


}

.recentCustomers .imgBox{
	position: relative;
	width: 40px;
}
.recentCustomers .imgBox img{
	width: 100%;
	height: 100%;
	border-radius:50%; 
}
.recentCustomers table{
	border-collapse: collapse;
	margin-top: 50px;
}
.recentCustomers table tr:hover{
	background: var(--blue);
	color: var(--white);
}
.recentCustomers table tr td{
	padding: 12px 10px; 
}

.recentCustomers table tr td h4{
	font-size: 16px;
	font-weight: 600;
	line-height: 10px;
}

.recentCustomers table tr td span{
	font-size: 14px;
	color:var(--black2);
	font-weight: 600
}
.recentCustomers table tr:hover{
	background: var(--blue);
	color:var(--white);
}

.recentCustomers table tr:hover td span{
	color:var(--white);
}


/* responsive */

@media (max-width: 991px){
	.navigation{
		left: -300px;
	}
	.navigation.active{
		left: 0;
		width: 300px;
	}
	.cardBox{
		grid-template-columns: repeat(2,1fr);
	}
}

@media (max-width: 768px){

	.recentOrders{
		overflow-x: auto;
	}
}

@media (max-width: 480px){
	.cardBox{
		grid-template-columns: repeat(1,1fr);
	}

	.cardHeader h2{
		font-size: 18px;
	}

	.navigation{
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.navigation.active{
		left: 0;
		width: 100%;
	}

}

/*/////////////////////////////////////////////////////////////////////////*/
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/


main.table {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}
.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}
.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}
.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}
.input {
    width: 90%;
    height: 40px;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: width .2s ease, background-color .2s ease;
}

.input:hover {
    width: 100%; /* Lors du hover, il peut s'étendre à 100% */
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.input img {
    width: 1.2rem;
    height: 1.2rem;
}

.input input {
    width: 100%; /* Ajusté pour remplir correctement l'espace disponible */
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    /* Optionnel : Ajoutez une transition ici aussi pour la largeur si nécessaire */
    transition: width .2s ease;
}
.hide  {
    display: none; /* Ceci garantit que les lignes cachées ne laissent aucun espace */
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: rgba(87, 82, 82, 0.712) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}


/* Action Buttons */
.table__body td a {
    color: #2e7081;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}

.table__body td a:hover {
    color: #1f5163;
}

.table__body td form button {
    background-color: transparent;
    border: none;
    color: #d9534f;
    font-size: 18px;
    cursor: pointer;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.829);
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

/*///////////////////////////////////////////     Aomra      /////////////////////////////////////////////////////////*/
.ajouterC button, .demande button , .annee{
	padding: 20px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 20px;
	color: var(--white);
	font-weight: 600;
	background-color: #2e7081;
}
.annee li{
	padding: 20px;
	border-bottom: 2px solid var(--white);
	text-align: center;
}
.annee h3{
	text-align: center;
}

.icon-btn-A {
	color: green;
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}

.icon-btn-R {
	color: red;
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}

.icon-btn:hover {
    opacity: 1;
}

/* Container for the form and search input */
.table__header form {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between form elements */
    margin-top: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Styling for the ion-icon */
.table__header ion-icon {
    font-size: 20px;
    color: #2e7081;
    cursor: pointer;
    margin-left: -30px; /* Adjust to overlap with input field */
}

/* Styling for the filter dropdown */
.table__header select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Focus state for the filter dropdown */
.table__header select:focus {
    border-color: #2e7081;
}

/* Styling for the filter button */
.table__header button {
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: #2e7081;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover and focus state for the filter button */
.table__header button:hover,
.table__header button:focus {
    background-color: #0056b3;
    transform: scale(1.05);
}
/*//////////////////////////////////////////////*/


/* Styles pour la carte qui contient la table */
.recentCustomers {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.recentCustomers .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.recentCustomers .cardHeader h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Styles pour la table */
#omraTable {
    width: 100%;
    border-collapse: collapse;
}

#omraTable tr {
    border-bottom: 1px solid #e6e6e6;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#omraTable tr:hover {
    background-color: #f1f1f1;
}

#omraTable td {
    padding: 15px;
    vertical-align: middle;
}

/* Styles pour la cellule d'image */
.imgBox {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ddd;
}

/* Styles pour le texte */
#omraTable h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: #333;
}

#omraTable span {
    font-size: 14px;
    color: #888;
}

/* Style de la ligne sélectionnée */
.omra-row.selected {
    background-color: #e0f7fa;
    border-left: 5px solid #00796b;
}

/* Styles pour rendre la table responsive */
@media screen and (max-width: 768px) {
    #omraTable td {
        display: block;
        width: 100%;
        text-align: left;
    }
    
    .imgBox {
        margin-bottom: 10px;
    }
    
    #omraTable tr {
        border: none;
        margin-bottom: 10px;
        display: block;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
}
@media screen and (max-width: 768px) {
    .navigation {
        width: 100px; /* Largeur réduite pour les petits écrans */
    }

    .navigation.active {
        width: 65px; /* Largeur active pour les petits écrans */
    }

    .main {
        width: 100%; /* Largeur complète pour le contenu principal */
        left: 0; /* Position à gauche */
    }

    .topbar {
        padding: 0 5px; /* Marges internes réduites */
    }

    .details {
        grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
    }
}
