
/*Style css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  body {
    background-size: cover; /* Ou 'contain' */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition de l'image */
    }

  html, body {
    height: 100%;/* S’assure que le body prend toute la hauteur */
    
    margin: 0; /* Évite les marges par défaut */
}

    /* Reset les marges et les paddings */
body, ul {
  margin: 0;
  padding: 0;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #f0f5f0f3;
  margin-bottom: 5px;
}

.navbar-logo img {
  height: 70px;
}

.header-partner {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.header-partner .logo a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.header-partner .account-menu {
  position: relative;
}

.header-partner .account-info {
  display: flex;
  align-items: center;
}

.header-partner .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.header-partner .username {
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
}

.header-partner .dropdown-toggle {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  text-shadow: 2px 2px 2px #000;
}

.header-partner .dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.header-partner .dropdown-menu ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.header-partner .dropdown-menu ul li {
  margin: 10px 0;
}

.header-partner .dropdown-menu ul li a {
  text-decoration: none;
  color: #333;
}

.header-partner .dropdown-menu ul li a:hover {
  color: #4CAF50;
}

/* Affichage du menu au survol ou clic */
.header-partner .account-menu:hover .dropdown-menu,
.header-partner .dropdown-toggle:focus + .dropdown-menu {
  display: block;
}

.account-info {
  display: flex;
  align-items: center;
}

.avatar-circle {
  background-color: #2e7081;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  margin-right: 10px;
}

.username {
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 10px;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: pointer;
  text-shadow: 2px 2px #000;
}

    /* Styles du dropdown menu */
    .dropdown-menu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 200px;
      display: none; /* Masqué par défaut */
      z-index: 1000;
  }
  
  .dropdown-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .dropdown-menu ul li {
      border-bottom: 1px solid #dfdbdb;
  }
  
  .dropdown-menu ul li:last-child {
      border-bottom: none;
  }
  
  .dropdown-menu ul li a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: #050505;
      font-weight: 500;
      transition: background-color 0.3s ease;
  }
  
  .dropdown-menu ul li a:hover {
      background-color: #f5f5f5;
      color: #000;
  }
  
  /* Style pour le bouton de déconnexion */
  .dropdown-menu ul li a.logout {
      color: #d9534f; /* Rouge pour Déconnexion */
  }
  
  .dropdown-menu ul li a.logout:hover {
      background-color: #f8d7da; /* Couleur d'alerte légère */
      color: #c9302c;
  }

.account-info:hover .dropdown-menu {
  display: block;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.container {
    animation: fadeInUp 1s ease-out; /* Apply the animation to the card container */
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack the title and button vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: 100%;
    z-index: 0;
    text-align: center; /* Center text inside the container */
}

.card__container {
  position: relative;
  width: 95%;
  border-radius: 30px;
  height: auto; /* Allows the height to adjust based on content */
  max-height: 520px; /* Set a maximum height if needed */
  overflow: hidden; /* Ensures content that exceeds the height will be hidden */
}

.card__background {
    position: relative;
}

.card__img {
    width: 100%;
    height: auto;
    border-radius: 1.5rem;
    object-fit: cover;
}


/* Card content */
.card__content {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: left;
  background-color: rgba(8, 8, 8, 0.644); /* Optional: Add a background to make text more readable */
  padding: 20px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  width: 40%;
  overflow: hidden; /* Hide any overflowing content */
}

/* Ribbon for places restantes */
.ribbon {
  position: absolute;
  top: 20px;
  right: -35px;
  background-color: #e63946;
  color: white;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: bold;
  transform: rotate(45deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Ensure ribbon content does not overflow */
}
.programme h4{
 color: #4CAF50;
}
.programme-details{
  color: #000;
  font-weight: 600;
}
.card__title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.card__button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fca311;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.card__button:hover {
    background-color: #e89f00;
}

h4 {
    margin: 10px 0; /* Add space between h4 elements */
}

  
  /*///////////////////////////////////////////////HOTEL//////////////////////////////////////////////////////////////////////*/
  /* Title styling */
.titre {
  text-align: center;
  margin-top: 40px;
}

.titre h1 {
  font-size: 2.5rem;
  color: #2e7081;
  font-weight: bold;
}
.animated-section { 
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start; /* Align items at the start to remove space */
  align-items: center;
  width: 90%;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out forwards;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 30px;
  height: auto;
  max-height: 450px;
  overflow: hidden;
  padding: 0; /* Ensure no padding is added */
}

.slider-container {   
  margin: 0px;
  padding: 0px;
  width: 50%;
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}

.section-image {
    width: 100%;
    flex-shrink: 0;
    animation: sliderAnimation 25s infinite;
}
.section-description {
  background-image: url('../images/13.jpg');
  margin: 0; /* Remove any margins */
  padding: 0; /* Remove any padding */
  height: 450px;
  background-size: cover; /* Scale the image to cover the entire container */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack the title and button vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text inside the container */
  width: 50%; /* Ensure the container takes up half of its parent */
}

.section-description div {
  justify-content: end;
  display: flex; /* Use flexbox to align the content */
  margin-bottom: 5px; /* Add spacing between rows */
}

.section-description h4 {
  font-size: medium; /* Adjust the size of text */
  margin: 0; /* Remove any default margins */
  margin-right: 20px;
}

.section-description h2 {
  color: #fca311;
  margin: 0; /* Remove any default margins */
  margin-right: 20px;
}

.card__button {
  display: inline-block;
  padding: 10px 20px;
  background-color:#2e7081; /* Button background color */
  border: none;
  color: #fff; /* Button text color */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Add space above the button */
  text-align: center;
}
.card__button a {
  color: #fff; /* Button text color */
}

.card__button:hover {
  background-color: #fca311; /* Change button color on hover */
}

.note-section {
  position: absolute; /* Position it within the parent container */
  bottom: 0; /* Align to the bottom */
  right: 0; /* Align to the right */
  padding: 15px; /* Padding inside the note section */
  border-radius: 5px; /* Rounded corners */
  background-color: #00000054; /* Light background color */
  width: 180px; /* Fixed width */
  z-index: 10; /* Ensure it appears above other elements */
  display: flex; /* Enable Flexbox for horizontal alignment */
  flex-direction: column; /* Arrange items in a column */
  gap: 5px; /* Add spacing between rows */
}

.note-row {
  display: flex; /* Enable Flexbox for horizontal alignment */
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Align items vertically */
}

.note-section h6 {
  text-align: end;
  font-size: small;
  margin: 0; /* Remove default margins */
  white-space: nowrap; /* Prevent text from breaking to the next line */
}



@keyframes sliderAnimation {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(-500%); } /* Adjust this based on the number of images */
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* General popup styling */
.pop {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


.pop-content {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Adjust width to fit better on smaller screens */
  max-width: 500px; /* Limit width on larger screens */
  max-height: 90vh; /* Maximum height of 90% of viewport height */
  overflow-y: auto; /* Add vertical scroll if content exceeds max-height */
  position: absolute; /* Absolute positioning to center the popup */
  top: 50%; /* Position the popup from the top */
  left: 50%; /* Position the popup from the left */
  transform: translate(-50%, -50%); /* Translate by 50% of its width and height to center */
  border-radius: 8px; /* Rounded corners */
}



/* Centered title */
.pop-content h2 {
  text-align: center;
  color: #2e7081;
}

/* Label styling */
.pop-content label {
  display: block; /* Display labels as block elements */
  margin-bottom: 5px; /* Space below each label */
  font-weight: bold; /* Make labels bold */
}

/* Container for the button */
.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
}

/* Button styling */
.pop-content button {
  padding: 10px 20px;
  background-color: #2e7081; /* Button background color */
  border: none;
  color: #fff; /* Button text color */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Space above the button */
}

/* Input fields styling */
input {
  width: 100%; /* Full width of container */
  padding: 10px; /* Add some padding inside the input */
  border: 1px solid #000000; /* Border around inputs */
  border-radius: 4px; /* Rounded corners for inputs */
  margin-bottom: 15px; /* Space below each input */
  box-sizing: border-box;
}

/* Adjust label margin */
.popup-content label {
  margin-top: 10px;
}


