*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    justify-content: start;
    align-items: center;
    background-image: url('../images/9.png');
    background-size: cover;
    background-attachment: fixed; /* L'image reste fixe */
    background-position: center;
}

  /* Title styling */
  .titre {
    text-align: center;
    margin-top: 30px;
  }
  
  .titre h1 {
    font-size: 2.7rem;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 2px #2e7081;
  }

.container {
    max-width: 600px; /* Limite la largeur de chaque conteneur */
    margin: 20px auto; /* Centre les conteneurs horizontalement avec un espacement vertical */
    background-color: rgba(255, 255, 255, 0.8); /* Fond blanc semi-transparent */
    padding: 20px; /* Espacement intérieur */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
    margin-left: 100px; /* Espace à gauche pour aligner les conteneurs à gauche */
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    border-bottom: solid 1px rgb(0, 0, 0);
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.user-input-box label{
    width: 95%;
    color: rgb(12, 12, 12);
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.gender-title{
    color:rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.gender-category{
    margin: 15px 0;
    color: rgb(0, 0, 0);
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}

.form-submit-btn{
    margin-top: 30px;
}

.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    color:rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 10px;
    background-color: #2e7081;
}

.form-submit-btn input:hover{
    background: #fca311;
    color: rgb(8, 8, 8);
}

@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}

.prix-totale {
    font-size: 18px; /* Taille de la police */
    font-weight: bold; /* Mettre le texte en gras */
    color: #333; /* Couleur du texte */
    display: block; /* Assure que l'élément prend toute la largeur */
    margin-top: 15px; /* Ajoute un espace au-dessus si nécessaire */
}
.prix{
    align-content: center;
    font-size: 18px; /* Taille de la police */
    font-weight: bold; /* Mettre le texte en gras */
    color: #333; /* Couleur du texte */
    display: block; /* Assure que l'élément prend toute la largeur */
    margin: 5px; /* Ajoute un espace au-dessus si nécessaire */
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(12, 12, 12);
}
.user{
    margin-left: 30px;
}